.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.rightbarProfileImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.rightbarOnline{
    height: 12px;
    width: 12px;
    position: absolute;
    border-radius: 50%;
    background-color: limegreen;
    right: 0;
    border: 2px solid white;
}
.rightbarUsername{
    font-weight: 550;
}